.hm-touch-header{
    margin: 22px 8px 0;
}
.hm-touch-header  a {
    font-size: 12px;
    color: black;
    display: flex;
    flex-direction: column;
    width: 68px;
    justify-content: center;
    align-items: center;
}
.hm-touch-header  img{
    display: inline-block;
    vertical-align: top;
}
.hm-touch-header  span{
    display: inline-block;
}
.mode-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.mode-header img{
    height: 49px;
    width: 49px;
    margin-bottom: 6px;
}
.tickets-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.tickets-header img{
    height: 28px;
    width: 28px;
    margin-bottom: 6px;
}
.sundries-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sundries-header a{
    margin-bottom: 14px;
}
.sundries-header img{
    height: 28px;
    width: 28px;
    margin-bottom: 6px;
}